---
layout: null
title: Home Page
description: 
sitemap:
    priority: 1.0
    lastmod: 2019-04-22
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
  'index.html'
  Author/CopyRight: Mancuso, Logan
  Last Edit Date: 07-28-2019--22:24:37
-->
<html>
  <head>
    <!-- {% include head.html %} -->

  </head>
  <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper" class="fade-in">

        <!-- Intro -->
          <div id="intro">
            <h1>{{site.title}}</h1>
            <h2>Computer Science & mathematics</h2>
            <p>
              This site is a blend of passion for mathematics and coding, enjoy!
            </p>
            <ul class="actions">
              <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Explore</a></li>
            </ul>
          </div>

        <!-- Header -->
          <header id="header">
            <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
          </header>

        <!-- Nav -->
          <nav id="nav">

            {% include nav.html %}

          </nav>

        <!-- Main -->
          <div id="main">
            <!-- Featured Post -->
              <article class="post featured">
                <header class="major">
                  <h2><a href="#">Comp Sci Projects</a></h2>
                  <p>These projects are a collection of school examples, <br />
                    with data structures and algorithms implemented in <br />
                    Java and C++</p>
                </header>
                <a href="blog" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                <p>
                  Growing up in the tech age has given me the opportunity to be a part of a new age. 
                  Building custom computers and exploring new software for Windows and Linux systems has enabled me to thrive in my work and academic life. 
                  Creating new ways to solve problems and making mistakes along the way have helped me become a better software engineer. Problem solving skills 
                  and a fundamental understanding of Object-Oriented Programming and complex data structures has enabled me to learn and develop new answers to 
                  common problems. 
                </p>
                <p>
                  Studying Combinatorics and Game Theory with <a href="http://people.math.sc.edu/lu/"> Dr. Lu </a> has given me a thorough
                  insight into complex problems and how to break them down. 
                </p>
              </article>

            <!-- Footer -->
              <footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Projects</a></li>
                </ul>
              </footer>
          </div>

        <!-- Footer -->
        {% include foot.html %}

      </div>

    <!-- Scripts -->
    {% include scripts-main.html %}
    {% include tracking.html %}

  </body>
</html>
