.aligncenter, div.aligncenter {margin-right: auto;margin-left: auto;}
.alignright {float: right;}
.alignleft {float: left;}
#title {margin-right: 45%;}
.search-label {margin-right: 280px;}
.top-search-form {margin-right: 25px;}
#sidebar .yellow-sticker-clip {margin-right: 165px;}
#sidebar .yellow-sticker ul {margin-right: 15%;}
#sidebar .yellow-sticker-middle ul li a {padding: 4px 25px 4px 0;}
#sidebar .white-sticker-middle ul li a {padding: 4px 25px 4px 0;}
#sidebar .white-sticker-clip {margin-right: -18px;}
.follow {margin-right: -92px;}
#commentform .comment-field {float: right;}
#commentform .btnComment {float: right;clear: right;}
.avatar {float: right;clear: right;margin-left: 10px;margin-right: auto;}